h2 {
    color: red;
}

.container li {
    font-size: 18px;
    margin-left: 20px;
} 

.collapsing {
    transition-duration: 0.08s;
    transition-timing-function: ease-out;
}

.dropdown-menu {
    background-color: rgba(0, 56, 50, 0.758);
    

}

.navbar a:hover {
    display: block;
    background-color: rgba(22, 140, 124, 0.342);
    padding-left: 16px;
    
}

@media (max-width: 767.98px) {
    .navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu {
        position:absolute;
        z-index:1000;
    }
}

.navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu .dropdown-item:hover{
      background-color: rgba(22, 140, 124, 0.559);
      color: white;
  
}
.navbar .navbar-nav.flex-row .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background-color: rgba(22, 140, 124, 0.559);

}