{% extends "base.html" %}

{% block title %}Užduoties sukūrimas ir redagavimas{% endblock %}

{% block content %}
<h2>Užduoties sukūrimas ir redagavimas</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-outline-success me-1">Patvirtinti</button>
    {% if worker %}
    <a class="btn btn-outline-danger" href="{% url 'worker' worker.pk %}">Atšaukti</a>
    {% elif task %}
    <a class="btn btn-outline-danger" href="{% url 'uzduotys_inst' task.pk %}">Atšaukti</a>
    {% else %}
    <a class="btn btn-outline-danger" href="{% url 'uzduotys' %}">Atšaukti</a>
    {% endif %}
</form>
{% endblock %}
